@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

@if (_inventories != null && _inventories.Count > 0 )
{
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<InventoryListItemComponent Inventories="_inventories"></InventoryListItemComponent>
		</tbody>
	</table>
}

@code {
	private List<Inventory> _inventories = new List<Inventory>();
	[Parameter]
	public string SearchTerm { get; set; } = string.Empty;

	protected override async Task OnParametersSetAsync()
	{
		_inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
	}
}
